<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestNg</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8067a5">  <td>16/11/08 12:26:19</td>   <td>0</td> <td title="&gt;&gt;BaseSetUp.beforeSuite()[pri:0, instance:Proj.GoibiboProject@5ec0a365]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@979294118</td>   <td></td> </tr>
<tr bgcolor="9fad9d">  <td>16/11/08 12:26:25</td>   <td>6628</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoibiboProject.testcase1()[pri:0, instance:Proj.GoibiboProject@5ec0a365]">testcase1</td> 
  <td>main@979294118</td>   <td></td> </tr>
</table>
